[
    {elvis, [
        {config, [
            #{
                dirs => ["apps/**/src"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    % Too opinionated
                    {elvis_style, state_record_and_type, disable},
                    % ??
                    {elvis_style, atom_naming_convention, disable},
                    {elvis_style, macro_names, disable}
                ]
            },
            #{
                dirs => ["apps/**/test"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    % We want to use `ct:pal/2` and friends in test code.
                    {elvis_style, no_debug_call, disable},
                    % Assert macros can trigger use of ignored binding, yet we want them for better
                    % readability.
                    {elvis_style, used_ignored_variable, disable},
                    % Tests are usually more comprehensible when a bit more verbose.
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 50}},
                    % Too opionated
                    {elvis_style, state_record_and_type, disable},
                    {elvis_style, god_modules, disable},
                    % ??
                    {elvis_style, macro_names, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            },
            #{
                dirs => ["apps/**/src"],
                filter => "*.app.src",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            }
        ]}
    ]}
].
