[
    {elvis, [
        {config, [
            #{
                dirs => ["apps/**/src"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_trailing_whitespace, #{ignore_empty_lines => true}},
                    {elvis_style, nesting_level, #{level => 3}},
                    {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z0-9]*_?)*$"}},
                    {elvis_style, no_if_expression, disable},
                    %% Project rules
                    {elvis_style, atom_naming_convention, disable},
                    {elvis_style, macro_names, disable},
                    {elvis_style, export_used_types, disable},
                    {elvis_style, no_throw, disable}
                ]
            },
            #{
                dirs => ["apps/**/test"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_trailing_whitespace, #{ignore_empty_lines => true}},
                    {elvis_style, nesting_level, #{level => 3}},
                    {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z0-9]*_?)*$"}},
                    {elvis_style, no_if_expression, disable},
                    %% Project rules
                    % We want to use `ct:pal/2` and friends in test code.
                    {elvis_style, no_debug_call, disable},
                    % Assert macros can trigger use of ignored binding, yet we want them for better
                    % readability.
                    {elvis_style, used_ignored_variable, disable},
                    % Tests are usually more comprehensible when a bit more verbose.
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 50}},
                    {elvis_style, god_modules, disable},
                    {elvis_style, macro_names, disable},
                    {elvis_style, export_used_types, disable},
                    {elvis_style, no_throw, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            },
            #{
                dirs => [".", "apps/*"],
                filter => "rebar.config",
                ruleset => rebar_config,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace},
                    %% Temporarily disabled till regex pattern is available
                    {elvis_project, no_deps_master_rebar, disable},
                    {elvis_project, no_branch_deps, disable}
                ]
            },
            #{
                dirs => ["apps/**/src"],
                filter => "*.app.src",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            }
        ]}
    ]}
].
