%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"},
    % ??? Pinning to version "1.11.2" from hex here causes constant upgrading and recompilation of the entire project
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}},
    {genlib, {git, "https://github.com/valitydev/genlib.git", {tag, "v1.1.0"}}},
    {cowboy_draining_server, {git, "https://github.com/valitydev/cowboy_draining_server.git", {branch, "master"}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {tag, "v1.1.0"}}},
    {woody_user_identity, {git, "https://github.com/valitydev/woody_erlang_user_identity.git", {tag, "v1.1.0"}}},
    {damsel, {git, "https://github.com/valitydev/damsel.git", {branch, "master"}}},
    {lechiffre, {git, "https://github.com/valitydev/lechiffre.git", {tag, "v0.1.0"}}},
    {binbase_proto, {git, "https://github.com/valitydev/binbase-proto.git", {branch, "master"}}},
    {tds_proto, {git, "https://github.com/valitydev/tds-proto.git", {branch, "master"}}},
    {moneypenny, {git, "https://github.com/valitydev/moneypenny-proto.git", {branch, "master"}}},
    {cowboy_cors, {git, "https://github.com/valitydev/cowboy_cors.git", {branch, "master"}}},
    {cowboy_access_log, {git, "https://github.com/valitydev/cowboy_access_log.git", {branch, "master"}}},
    {payproc_errors, {git, "https://github.com/valitydev/payproc-errors-erlang.git", {branch, "master"}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/valitydev/scoper.git", {tag, "v1.1.0"}}},
    {cds_proto, {git, "https://github.com/valitydev/cds-proto.git", {branch, "master"}}},
    {bankcard_validator, {git, "https://github.com/valitydev/bankcard-validator.git", {branch, "master"}}},
    {bouncer_proto, {git, "https://github.com/valitydev/bouncer-proto.git", {branch, "master"}}},
    {bouncer_client, {git, "https://github.com/valitydev/bouncer-client-erlang.git", {tag, "v1.1.0"}}},
    {token_keeper_client, {git, "https://github.com/valitydev/token-keeper-client.git", {tag, "v1.1.0"}}},
    {dmt_client, {git, "https://github.com/valitydev/dmt_client.git", {branch, master}}},
    {prometheus, "4.11.0"},
    {prometheus_cowboy, "0.1.9"},
    % Generated dependencies
    {swag_server, {git, "https://github.com/valitydev/swag-payments.git", {branch, "release/erlang/server/v2"}}},
    {swag_client, {git, "https://github.com/valitydev/swag-payments.git", {branch, "release/erlang/client/v2"}}},
    %% OpenTelemetry deps
    {opentelemetry_api, "1.4.0"},
    {opentelemetry, "1.5.0"},
    {opentelemetry_exporter, "1.8.0"}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            {recon, "2.5.2"},
            {logger_logstash_formatter,
                {git, "https://github.com/valitydev/logger_logstash_formatter.git", {ref, "08a66a6"}}}
        ]},
        {relx, [
            {mode, minimal},
            {release, {'capi-pcidss', "0.1.0"}, [
                {recon, load},
                {runtime_tools, load},
                {tools, load},
                {opentelemetry, temporary},
                {logger_logstash_formatter, load},
                prometheus,
                prometheus_cowboy,
                sasl,
                capi_pcidss
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {extended_start_script, true}
        ]}
    ]},
    {test, [
        {deps, []},
        {dialyzer, [
            {plt_extra_apps, [eunit, common_test, runtime_tools]}
        ]}
    ]}
]}.

%% Linter config.
{elvis_output_format, colors}.

{plugins, [
    {rebar3_lint, "3.2.6"},
    {erlfmt, "1.5.0"},
    {covertool, "2.0.7"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["apps/capi*/{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config", "config/sys.config"]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.
